---
layout: default
---

<div class="home">
  <div class="logo">
    <img src="/assets/logo-slogan.png">
  </div>
  <div class="em-breve">
    <img src="/assets/em-breve.png">
  </div>
  <div><img src="/assets/playlists.png"></div>
  <div class="plataformas">
    <a class="plataforma" href="https://open.spotify.com/user/spiritifybr"><img src="/assets/spotify.png"></a>
    <a class="plataforma" href="http://www.deezer.com/profile/1722129046"><img src="/assets/deezer-timmusic.png"></a>
  </div>

</div>
